
:root {
    --color--btn:  rgba(255, 255, 255, 0.047);
}

@font-face {
    font-family: LucidaConsole;
    src: url(../fonts/lucon.ttf);
}

html {
    scroll-behavior: smooth;
}

html a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}

body {
    visibility: none;
    box-sizing: border-box;
    background: url(../imgs/site-background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
 
    background-color: rgb(33, 27, 35);
    color: rgb(222, 220, 220);
    font-family: Roboto;
    padding: 40px 5%;
    letter-spacing: 0.03rem;
    padding-bottom: 80px;
}

.centerer {
    display: flex;
    justify-content: center;
}

.main-wrap {
    max-width: 600px;
    padding: 3rem;
    padding-top: 0.5rem;
    background: rgba(150, 150, 150, 0.068);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
}

b{
    color: rgb(186, 225, 255);
}

em {
    font-style: normal;
}

h1 {
    text-align: center;
    color: #c69feb;
    letter-spacing: 2px;
    font-weight: 300;
}

h2 {
    text-align: center;
    border-bottom: 1px solid;
    margin-top: 4rem;
    font-weight: 400;
    text-transform: capitalize;
}

h3 {
    color: rgb(182, 190, 205);
    font-weight: 500;
    font-size: 16px;
}

h3 > a {
    text-decoration: underline;
    display: inline;
}

h4 {
    text-align: center;
    margin: 1rem;
    margin-bottom: 0.1rem;
}

h5 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 20px;
    border-bottom: 1px solid rgb(138, 255, 140);
}

ol {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    line-height: 40px;
    color: rgb(138, 255, 140);
    font-size: 20px;
    font-weight: 300;
    align-self: center;
    padding: 0;
}

ul {
    list-style-type: disc;
    line-height: 40px;
    color: #fff200;  
}

ul > li {
    font-size: 40px;
    
}

.ul-li {
    font-size: 22px;
    color: rgb(255, 231, 223);
    display: block;
    line-height: 25px;
}

.part-two-li {
    font-size: 22px;
    color: rgb(255, 231, 223);
    display: block;
    line-height: 25px;
    transform: translateY(-8px);
}

a .ul-li {
    transform: translateY(-6px);
}

li {
    padding: 10px 10px 10px 15px;
    margin: 5px;
    background-color: rgba(186, 186, 186, 0.055);
    border-radius: 25px;
   
    
}


 ol > li,
 .collapsible__content > li {
    display: flex;
    justify-content: space-between;
 }


ol > li:nth-child(odd){
    background-color: rgba(186, 186, 186, 0.133);
   
}


a {
    color: rgb(123, 191, 255);
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
    display: inline-block;
    line-height: 28px;
    letter-spacing: 0px;
    word-spacing: 1.5px;
    text-transform: capitalize;
}

a:hover {
    text-decoration: underline;
    color: rgb(67, 164, 255);
}

.course-link {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.044);
    padding: 0.5rem 1rem;
    border: 1.5px solid rgba(255, 255, 255, 0.302);
    border-radius: 10px;
}

/** COLLAPSIBLES */

/*^ '.collapsible' can be found in 'main.js' */

.collapsible {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.302);
    border-radius: 40px;
    width: 100%;
    padding: 0 1rem 0rem 1rem;
    line-height: 1.47rem;
    background-color: #73737315;
    transition: border-radius 1s ease;
    margin-top: 1rem;
}

.collapsible--expanded {
    border-radius: 30px;
}



.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
line-height: 1.5rem;    
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
   
    transition: max-height 0.3s, opacity 0.2s;
    
    
}


.collapsible--expanded .collapsible__content{
    opacity: 1;
    max-height: 100%;
    transition: max-height 1s, opacity 0.6s;
    
}

.collapsible__button {
    transform: rotatex(-180deg);
    transition: transform 0.5s, background-color 0.3s;
    align-self: center;
    width: 20px;
    height: 20px;
    background-color:var(--color--btn);
    padding: 0.3rem 0.3rem;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.302);
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}

.collapsible__button:hover {
    background-color: rgba(255, 255, 255, 0.080);
}

.collapsible--expanded .collapsible__button {
    transform: rotatex(0);
    top: 100%;
    transition: transform 0.32s;
}

.home {
    display: inline;
    background-color:var(--color--btn);
    padding: 0.5rem 0.8rem;
    border-radius: 100px;
    font-size: 20px;
    line-height: 50px;
    color: #a686ff;
    border: 1px solid rgba(255, 255, 255, 0.311);
    transition: font-size 0.2s ease;
}

.home:hover {
    background-color: #dadada1e;
    color: #a686ff;
    font-weight: 400;
    text-decoration: none;
}


.to-top {
    width: 24px;
    position: fixed;
    right: 10px;
    bottom: 55px;
    z-index: 999;
    
    border: 1px solid rgba(255, 255, 255, 0.311);
    padding: 10px;
    border-radius: 100px;

    background: rgba(255, 255, 255, 0.031);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);

    transition: background-color 0.4s ease;
}
.to-top:hover {
    background-color: #d6d6d629;
}
.to-bottom:hover {
    background-color: #d6d6d629;}
.to-bottom {
    transition: background-color 0.4s ease;

    width: 24px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    transform:rotateZ(180deg);

    border: 1px solid rgba(255, 255, 255, 0.311);
    padding: 10px;
    border-radius: 100px;

    background: rgba(255, 255, 255, 0.031);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
}

.back-btn {
    transition: background-color 0.4s ease;
    cursor: pointer;

    width: 24px;
    position: fixed;
    left: 10px;
    bottom: 27px;
    z-index: 999;
    transform:rotateZ(-90deg);

    border: 1px solid rgba(255, 255, 255, 0.311);
    padding: 10px;
    border-radius: 100px;

    background: rgba(255, 255, 255, 0.031);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
}
.back-btn:hover {
    background-color: #d6d6d629;
}

.check-mark {
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: opacity 0.2s; /* 0.5 seconds for the opacity transition */
    padding: 3px;
    border-radius: 50px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
    
}

.sections-collapsible {
    max-width: 400px;
}

.section-item {
    padding: 5px;
}

.section-item .check-mark {
    margin-top: 8px;
    margin-right: 3px;
}

.section-item > a {
    margin: 5px;
    color: rgb(138, 255, 140);
}

.section-item--main {
    display: block;
    text-align: center;
    padding: 5px;
}

.sections-heading {
    border: none;
    margin: 1rem;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    padding: 0.5rem;
    margin-right: 1rem;
}

.sections-icon {
    margin-left: 20px;
}

.homepage-collapsible {
    border: 1.5px solid rgba(199, 199, 199, 0.26);
    border-radius: 20px;
    background-color: transparent;
    padding: 0;
   margin-top: 1rem;
   
}

.collapsible__homepage-heading {
    font-size: 24px;
    color: rgb(189, 245, 104);
    border-radius: 10px;
    line-height: 2rem;
}

.collapsible.exercise-collapsible {
    border: 0;
    background-color: transparent;
    padding: 0;
   margin-top: 2.5rem;
}

.exercise-collapsible > .collapsible__heading {
    color: rgb(189, 245, 104);
    border-bottom: 4px solid rgba(166, 255, 0, 0.26);
    padding-bottom: 10px;
}

.undrln {
    text-decoration: underline;
}

img {
    width: 100%;
    border-radius: 7px;
    border: 0.5px solid rgba(154, 154, 154, 0.273);
    box-shadow: 0px 0px 15px 0px rgba(107, 107, 107, 0.15);

}

/** CODE */

.code {
    font-family: LucidaConsole, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: auto;
    letter-spacing: -0.7px;
}

.code p::selection,
.code em::selection {
    background: rgba(214, 172, 238, 0.273);
    color: inherit;
}

.code::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    height: 7px;
}
.code::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.code::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #F5F5F5;
}


.code::before {
    content: 'bash shell';
    background-color: rgb(55, 55, 55);
    
    
    align-self: flex-start;
    
    color: rgb(184, 184, 184);
    padding: 0.25rem 0.4rem 0.1rem 0.4rem;
    border-radius: 6px 0px 6px 0;
    font-size: 12px;
}

.code--html::before {
    content: 'HTML';
    color: rgb(255, 72, 0);
    letter-spacing: 1px;
}

.code--js::before {
   content: 'javascript';
   color: yellow;
}

.code--ts::before {
    content: 'TypeScript';
    color: rgb(109, 143, 255);
}

.code--json::before {
    content: 'json';
    color: rgb(93, 184, 93);
}

.code--file-struct::before {
    content: '📁';
    font-size: 20px;
}

.code p {
    margin: 0.5rem 0 0.5rem 2rem;
    display: inline-block;
    flex: 0 0 100%;
}

.wht {
    color: white;
}

.comnt {
    color: rgb(123, 123, 123);
}

.lite-yllw {
    color: rgb(255, 255, 118);
}

.orng {
    color: orange;
}

.grn {
    color: rgb(60, 162, 60);
}

.blu {
    color: rgb(74, 189, 255);
}

h3 {
    position: relative;
    color: #9cd1ed;
    background-color: rgba(0, 123, 255, 0.186);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 140, 255, 0.543);
}

h3.grn {
    color: #6eda80;
    background-color: rgba(0, 255, 17, 0.186);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 255, 68, 0.543);
}

h3.orng {
    background-color: rgba(255, 136, 0, 0.277);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 157, 0, 0.543);
}

.red {
    color: rgb(246, 46, 83);
}

h3.red {
    background-color: rgba(255, 0, 0, 0.17);
    padding: 6px;
    border-radius: 10px;
    border: 1px solid rgba(246, 46, 83, 0.256);
}