<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!---->
    <!---->
    <!---->
    <div class="collapsible exercise-collapsible">
      <h2 class="sections-heading collapsible__heading">
        SOLUTION<img
          src="../../imgs/R.png"
          alt=""
          class="icon sections-icon collapsible__button"
        />
      </h2>
      <div class="collapsible__content"></div>
    </div>
    <!---->
    <!---->
    <!---->
  </body>
</html>
