<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="http://example.com/favicon.png" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>Notes React18 Mosh</title>
  </head>
  <body>
    <a href="../../index.html" class="home">HOME</a>
    <section class="centerer">
      <article class="main-wrap">
        <h1>Main Titile Here</h1>
        <h2>Topic im talking about</h2>
        <h3>
          instructions for this topic. you mish have like two, maybe three lines
          of text here describing what is happening.
        </h3>
      </article>
    </section>
    <script src="../../JS/main.js"></script>
  </body>
</html>
