<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="http://example.com/favicon.png" />
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Notes React18 Mosh</title>
  </head>
  <body>
    <a href="../index.html" class="home">HOME</a>
    <section class="centerer">
      <article class="main-wrap">
        <h1>What is React?</h1>
        <h2>HTML, CSS, JavaScript</h2>
      </article>
    </section>
  </body>
</html>
